<div class="col-xs-5">
  <i class="fa fa-question-circle-o fa-lg go-grey-text" aria-hidden="true"></i><a href="#" class="go-green-text"> Help &amp; Support </a>
</div>
<div class="col-xs-7 no-padding">
  <p class="go-grey-text">Service Provide: Go Server</p>
</div>

