<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid ">

  <div class="row go-grey" id="nav">
    <app-navigation></app-navigation>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h3>Subscriptions &amp; Billing</h3>
      <hr>
      <p>Next billing date: <strong> {{subscriptionsDetails.subscription.nextBillingDate | date }}</strong></p>
      <p>Service: <strong> {{subscriptionsDetails.subscription.service}}</strong></p>
      <p>Service provider: <strong> {{subscriptionsDetails.subscription.serviceProvider}}</strong></p>
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <p class="go-grey-text"> <strong>Previous payments</strong></p>
      <table class="table">
        <tr>
          <th>Date</th>
          <th>Service Period</th>
          <th>Total</th>
        </tr>
        <tr *ngFor="let payment of  subscriptionsDetails.subscription.payments">
          <td > {{payment.startDate | date:'dd.MM.yyyy'}} </td>
          <td> {{payment.startDate | date:'dd.MM.yyyy'}} - {{payment.endDate | date:'dd.MM.yyyy'}}</td>
          <td>{{payment.amountInCents/100 | currency:'EUR':true:'1.2-2'}}</td>
        </tr>
      </table>
    </div>
  </div>

  <div class="row" id="danger-zone">
    <div *ngIf="subscriptionsDetails.subscription.active" class="col-xs-12">
      <button type="button" class="btn btn-success btn-lg btn-block go-green round" (click)="handleClick()">CANCEL SUBSCRIPTION</button>
    </div>
    <div *ngIf="subscriptionsDetails.subscription.active === false" class="col-xs-12">
      <button type="button" class="btn btn-info btn-lg btn-block go-green round" (click)="handleClick()">SUBSCRIBE</button>
    </div>
  </div>
  <div class="row go-grey" id="footer">
    <app-footer></app-footer>
  </div>

</div>



