/* You can add global styles to this file, and also import other style files */

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#container {
  min-height: 100%;
  position: relative;
}

#header {
  background: #ff0;
  padding: 10px;
}

#body {
  padding: 10px;
  padding-bottom: 100px; /* Height of the footer */
}

#footer {
  margin-top: 20px;
  /*bottom:-1;*/
  /*width:100%;*/
  height: 115px; /* Height of the footer */
  border-top: #d8d8d8 solid thin;
  /*border-radius: 0;*/
  width: inherit;
  clear: both;
  padding-top: 5px;
}

.go-green {
  background-color: #189c00;
}

.go-green-text {
  color: #189c00;
}

.go-grey {
  background-color: #f8f8f8;
}

.go-grey-text {
  color: #cbcbcb;
}

.btn-lg.round {
  border-radius: 24px;
}

#danger-zone {
  margin-top: 10px;
  margin-bottom: 40px;
}

#lingua {
  border-left: 1px solid #d8d8d8;
  /*margin-top: 10px;*/
  width: inherit;
  height: 50px;
}

#nav {
  height: 50px;
  border-bottom: #d8d8d8 solid thin;
}

.language-text {
  font-size: 1.2em;
  padding-top: 10px;
}


